& {
    .window-content form {
        color: var(--aliengreen);

        input[type=text],
        input[type=number],
        input[type=password],
        input[type=date],
        input[type=time],
        select,
        .select-css { color: var(--aliengreen); }

        .sheet-body {
            .tab.general {
                .grid-crtPage {
                    .dots.experience {
                        margin-top: 14px;
                        color: var(--aliengreen) !important;
                        transform: scale(2);
                        &.xp_faded { display: none; }

                        > .resource-label { display: none; }
                        &.sp_faded > .resource-label { display: block; }
                        .xp_dots_pos { padding-top: 5px; }
                    }
                    .crt_Item5 {
                        .editor {
                            overflow: hidden;
                            pointer-events: none;
                            .editor-content {
                                width: 110%;
                                margin-left: -5%;
                            }
                        }
                        
                    }
                    .crt_Item6 {
                        height: auto !important;
                        padding-bottom: 3px !important;
                    } 
                }
            }

            .tab.skills {
                .grid-container {
                    .Col1 {
                        .ability.grid-attr {
                            grid-template-areas: 'Attr1 Attr2 Total Attr3';
                            grid-template-columns: 270px 35px 30px 30px;

                            .maxboxsize.Attr2 {
                                color: var(--aliendarkergreen);
                            }

                            .skill-total {
                                grid-area: Total;
                                line-height: 20px;

                                font: {
                                    family: var(--alienchatfont);
                                    size: 0.85em;
                                }

                                &.red {
                                    color: #FFFFFF;
                                    background-color: #7D0000;
                                }

                                &.green {
                                    color: #FFFFFF;
                                    background-color: #077700;
                                }
                            }
                        }
                    }
                    .Col2 {
                        .grid-talents {
                            grid-template-areas: "talTitle talTitleEnd" "tal1 tal2" "tal3 tal4";
                            .talTitle.talTitleEnd {
                                grid-area: talTitleEnd;
                                display: block;
                                min-height: 1em;
                            }
                        }
                    }

                    .Col3 {
                        color: var(--aliengreen);
                    }
                }
            }
        }
    }
}
