& {
    .window-content form {
        color: var(--aliengreen);

        input[type=text],
        input[type=number],
        input[type=password],
        input[type=date],
        input[type=time],
        select,
        .select-css { color: var(--aliengreen); }

        .actor-header {
            .header-fields {
                .crt-grid-Char-Att {
                    grid-template-areas:
                        'gCol1 gCol2 gCol2-5 gCol3 gCol4 gCol4-5 gCol5 gCol6'
                        'gCol7 gCol8 gCol8-5 gCol9 gCol10 gCol10-5 gCol11 gCol12';
                    grid-template-columns: 23% 4% 6% 23% 4% 6% 25% 8%;

                    .gCol2-5 { grid-area: gCol2-5 }
                    .gCol4-5 { grid-area: gCol4-5 }
                    .gCol8-5 { grid-area: gCol8-5 }
                    .gCol10-5 { grid-area: gCol10-5 }

                    
                    .maxboxsize {
                        color: var(--aliendarkergreen);
                    }

                    .attribute-total {
                        line-height: 22px;

                        font: {
                            family: var(--alienchatfont);
                            size: 1.5em;
                        }

                        &.red {
                            color: #FFFFFF;
                            background-color: #7D0000;
                        }

                        &.green {
                            color: #FFFFFF;
                            background-color: #077700;
                        }
                    }
                }
            }
        }

        .sheet-body {
            .tab.general {
                .grid-crtPage {
                    .dots.experience {
                        margin-top: 14px;
                        color: var(--aliengreen) !important;
                        transform: scale(2);
                        &.xp_faded { display: none; }

                        > .resource-label { display: none; }
                        &.sp_faded > .resource-label { display: block; }
                        .xp_dots_pos { padding-top: 5px; }
                    }

                    .crt_Item5 {
                        .editor {
                            overflow: hidden;
                            pointer-events: none;

                            .editor-content {
                                width: 110%;
                                margin-left: -5%;
                            }
                        }
                    }

                    .crt_Item6 {
                        height: auto !important;
                        padding-bottom: 3px !important;
                    }
                }
            }

            .tab.skills {
                .grid-container {
                    .Col1 {
                        .ability.grid-attr {
                            grid-template-areas: 'Attr1 Attr2 Total Attr3';
                            grid-template-columns: 270px 35px 30px 30px;

                            .maxboxsize.Attr2 {
                                color: var(--aliendarkergreen);
                            }

                            .skill-total {
                                grid-area: Total;
                                line-height: 20px;

                                font: {
                                    family: var(--alienchatfont);
                                    size: 0.85em;
                                }

                                &.red {
                                    color: #FFFFFF;
                                    background-color: #7D0000;
                                }

                                &.green {
                                    color: #FFFFFF;
                                    background-color: #077700;
                                }
                            }
                        }
                    }

                    .Col2 {
                        .grid-talents {
                            grid-template-areas: 'talTitle talTitleEnd' 'tal1 tal2' 'tal3 tal4';

                            .talTitle.talTitleEnd {
                                display: block;
                                grid-area: talTitleEnd;
                                min-height: 1em;
                            }
                        }
                    }

                    .Col3 {
                        color: var(--aliengreen);
                    }
                }
            }
        }
    }
}

&.minimized { 
    --minimizedTextColor: #262000;
    --minimizedFontWeight: bold;
    --minimizedBGColor: #FFD900;
    --minimizedBorderColor: #FFFFFF;
}