& {
    .combatant-action-box {
        position: relative;
        max-width: 20px;
        margin-right: -10px;

        .alienrpgoverrides-button {
            display: block;
            height: 50%;

            &.opacity-zero { opacity: 0 }
        }
    }

    .combatant.directory-item {
        .combatant-control {
            
            &.switch-initiative {
                // color: var(--aliengreen);
                // order: 10;

                &.switch-active { color: #FFDD00 }
                &.switch-active.switcher { color: var(--aliengreen) }
            }

            &.cycle-button {
                order: 9;
                color: #00FF00;

                &.none { opacity: 0.5; }

                &.prone {
                    i { transform: rotate(90deg) scale(1.2); }
                }
            }
        }
    }
}
