/* stylelint-disable selector-max-id -- References to underlying Foundry elements */
& {
    background-size: 1920px 1200px;

    #notifications {
        top: unset;
        bottom: 300px;
    }

    #setup {
        #join-game {
            top: calc(50% - 50px);
            margin-left: 560px;
            #world-title { display: none; }

            .join-body {
                .left.flexcol {
                    flex: 0.5;
                    .app:nth-child(2) { display: none; }
                    button[name='back-to-setup'] { display: none; }
                }

                .right.flexcol {
                    display: none;
                }
            }
        }
    }

    .watermark { display: none; }
}