&:not(.minimized) {
    --minimumWidth: 900px !important;
    --minimumHeight: 750px;
}

&.minimized { 
    --minimizedTextColor: #a0a0a0;
    // --minimizedFontWeight: bold;
    --minimizedBGColor: #373737;
    --minimizedBorderColor: #FFFFFF;
}