/* ▌██░░ alienrpgoverrides v0.3 (2021) ║ MIT License ║ https://github.com/Eunomiac/alienrpgoverrides ░░██▐ */.vtt.game.system-alienrpg {
  /* stylelint-disable selector-max-id -- References to underlying Foundry elements */
  /* stylelint-disable block-no-empty -- Placeholders to preserve HTML layout structure */
}

.vtt.game.system-alienrpg #logo {
  display: none;
}

.vtt.game.system-alienrpg #navigation {
  top: 0;
  left: 50px;
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}

.vtt.game.system-alienrpg #navigation .scene-list .scene.nav-item .scene-name {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}

.vtt.game.system-alienrpg #navigation .scene-list .scene.nav-item .scene-players {
  display: none;
}

.vtt.game.system-alienrpg #controls {
  top: -5px;
  left: 0;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}

.vtt.game.system-alienrpg #notifications {
  top: 0;
}

.vtt.game.system-alienrpg #players {
  left: 0;
  margin-bottom: -8px;
  font-weight: bold;
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
}

.vtt.game.system-alienrpg #hotbar {
  bottom: 2px;
  left: 150px;
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
}

.vtt.game.system-alienrpg #pause {
  bottom: 80px;
  left: 100px;
  width: 300px;
}

.vtt.game.system-alienrpg .chat-message .message-header .flavor-text {
  display: none;
}

.vtt.game.system-alienrpg .chat-message .message-content .table-draw .dice-roll {
  display: none;
}

.vtt.game.system-alienrpg .chat-message .message-content .table-draw .table-description {
  display: none;
}

.vtt.game.system-alienrpg .chat-message .message-content .table-draw .table-results .table-result .result-image {
  display: none;
}

.vtt.game.system-alienrpg .app.window-app.masked-popout {
  margin: 0;
  background-color: #001700;
  border: unset;
}

.vtt.game.system-alienrpg .app.window-app.masked-popout h1 {
  border-bottom: 1px solid #29A253;
}

.vtt.game.system-alienrpg .app.window-app.masked-popout .window-header {
  display: none;
}

.vtt.game.system-alienrpg .app.window-app.masked-popout.full-screen .window-content {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  background: none;
}

.vtt.game.system-alienrpg .app.window-app.masked-popout.landing-page .window-content {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  margin: 0;
  overflow: hidden;
  color: #4DF287;
  background: none;
}

.vtt.game.system-alienrpg .app.window-app.masked-popout.landing-page .window-content p {
  padding: 0 20px;
  font-family: monospace;
  font-size: 21px;
  line-height: 1.2em;
  text-align: justify;
  text-shadow: 0 0 4px #000000, 0 0 4px #000000, 0 0 2px #000000, 0 0 2px #000000;
}

.vtt.game.system-alienrpg .app.window-app.masked-popout.landing-page .window-content p strong {
  padding: 0 3px;
  color: #000000;
  text-shadow: none;
  background-color: #29A253;
  outline: 2px solid #000000;
}

.vtt.game.system-alienrpg .app.window-app.masked-popout.landing-page .window-content .travel-map {
  width: calc(100% + 2 * 20px);
  height: 100%;
  margin: 20px 0 0 -20px;
  background-color: #000000;
}

.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-header {
  position: relative;
  top: 65px;
  display: block;
  width: calc(100% + 8px + 2px);
  min-height: 60px;
  margin: -67px 0 2px;
  background: transparent;
}

.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-header .window-title {
  display: none;
}

.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-header .header-button.configure-sheet {
  display: none;
}

.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-header .header-button.configure-token {
  display: none;
}

.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-header .header-button.submit {
  display: none;
}

.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-header .header-button.close {
  display: block;
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
  margin-left: calc(100% - 18px);
  font-size: 0;
  background: #29a253;
}

.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-header .header-button.close i {
  display: block;
  width: 18px;
  height: 18px;
  font-size: 18px;
  text-align: center;
}

.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-content form {
  color: var(--aliengreen);
}

.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-content form input[type=text],
.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-content form input[type=number],
.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-content form input[type=password],
.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-content form input[type=date],
.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-content form input[type=time],
.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-content form select,
.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-content form .select-css {
  color: var(--aliengreen);
}

.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-content form .sheet-body .tab.general .grid-crtPage .dots.experience {
  margin-top: 14px;
  color: var(--aliengreen) !important;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-content form .sheet-body .tab.general .grid-crtPage .dots.experience.xp_faded {
  display: none;
}

.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-content form .sheet-body .tab.general .grid-crtPage .dots.experience > .resource-label {
  display: none;
}

.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-content form .sheet-body .tab.general .grid-crtPage .dots.experience.sp_faded > .resource-label {
  display: block;
}

.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-content form .sheet-body .tab.general .grid-crtPage .dots.experience .xp_dots_pos {
  padding-top: 5px;
}

.vtt.game.system-alienrpg .app.window-app.sheet.actor .window-content form .sheet-body .tab.skills .grid-container .Col3 {
  color: var(--aliengreen);
}
