& {
    margin: 0;
    background-color: rgba(0, 23, 0, 1);
    border: unset;

    h1 { border-bottom: 1px solid #29A253; }

    .window-header { display: none; }

    .window-content {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
        color: #4DF287;
        text-align: center;
        background: none;
    }

    &.landing-page {
        .window-content {
            padding: 20px;

            p {
                padding: 0 20px;
                font-family: monospace;
                font-size: 21px;
                line-height: 1.2em;
                text-align: justify;
                text-shadow: 0 0 4px #000000, 0 0 4px #000000, 0 0 2px #000000, 0 0 2px #000000;

                strong {
                    padding: 0 3px;
                    color: #000000;
                    text-shadow: none;
                    background-color: #29A253;
                    outline: 2px solid #000000;
                }
            }

            .travel-map {
                width: calc(100% + 2 * 20px);
                height: 100%;
                margin: 20px 0 0 -20px;
                background-color: #000000;
            }
        }
    }

    &.deviation-report {
        top: calc(50% - (613px / 2)) !important;
        left: calc(50% - (960px / 1.1)) !important;
        width: 960px !important;
        height: 613px !important;
        outline: 5px solid #FF0000;
    }

    &.increase-stress {
        @keyframes fade-in {
            0% { opacity: 0; }
            35% { opacity: 1; }
            40% { opacity: 1; }
            100% { opacity: 0; }
        }
        
        top: calc(50% - (300px / 2)) !important;
        left: calc(50% - (900px / 2)) !important;
        width: 900px !important;
        height: 300px !important;
        background: transparent;
        line-height: 300px;
        font-size: 200px;
        font-family: 'Blinker', sans-serif;
        text-transform: uppercase;
        opacity: 0;
        animation-name: fade-in;
        animation-duration: 5s;
        pointer-events: none;

        .window-content {
            color: #FF0000;
        }
    }
}